body{
	position:relative;
    background-image: url("../img/fondo/fondo.png");
    left: 200px;
	top: 50px;
	width: 900px;
	height: 100px;
   }

#principal{
	width: 1500px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;

}

header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}


#logo{
	position: relative;
	left: 25px;
	top: px;
	bottom: 70px;
	width: auto;
	height: auto;
	border: 0px solid #000;
	float: left; font-family: ;
}

.menu{
	position: relative;
	left: 600px;
	top: 60px;
	width: 500px;
	height: 50px;
	border: 6px solid white ;
	float: right; font-family: 'Fredoka', sans-serif;
	margin-top: -40px;
	background: gray; /* Color de el fondo de la columna */
	
}

.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
}

.menu ul li a{
	font-family: 'Fredoka', sans-serif;
	text-decoration: none;
	padding: 10px 30px;
	border: 0px solid #ccc;
	color: white; /* Es para el color de la letra */
}

.menu ul li a:hover{
	background: #fff;
	color: black;
	transition: background 1s, color 1s;
}

.quejas
		{
			position: relative;
			width: ;
			height: 500px;
			right: 80px;
			top: 200px;
		}





footer{
	position: relative;
	font-family: 'Fredoka', sans-serif;
	left: 500px;
	top: 30px;
	width: 500px;
	height: 50px;
	text-align: center;
}
